﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Controllers/ResourceController.js"></script>
    <script src="~/Scripts/Controllers/ForumControler.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:left">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New Thread", "CreatePost", "Post")</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" style="float:right; align-content:center">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Context.User.Identity.Name, "", "")</li>
                        <li><a href="@Url.Action("logout", "auth")">Log Out</a></li>

                    </ul>
                }
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav" style="margin-top:9px">
                        <li>@Html.ActionLink("Login", "Login", "auth")</li>
                    </ul>

                }
            </div>


        </div>
    </div>
    <div class="container body-content" ng-app="forum">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
