﻿@model List<NorriqForum.Models.Post>

@{
    ViewBag.Title = "Home Page";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 5);
}

<div class="jumbotron">


    <h1>Forum</h1>

    <br />
    <table style="width:100%" class="table">
        <tr>
            <th style="width:40%">Topics</th>
            <th style="width:30%">Replies</th>
            <th style="width:30%">Last Post</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/post/showpost/@item.PostId" style="font-size:18px">@item.Title</a>
                    <br />
                    <span style="font-size:12px">by @item.Owner.Username @item.Created</span>
                </td>
                <td>@item.Answers.Count</td>
                
                <td>
                    @if (@item.Answers.Count > 0)
                    {
                        <span style="font-size:14px">@item.Answers[@item.Answers.Count - 1].Created</span>
                        <br />
                       <span style="font-size:14px">@item.Answers[@item.Answers.Count - 1].User.Username</span>

                    }
                </td>
            </tr>
        }
    </table>



</div>