﻿@{
    ViewBag.Title = "CreateThread";

}

<h2>CreateThread</h2>

<div style="width:80%; align-content:center">
    @model NorriqForum.Models.FormModels.PostModel
    @if(User.Identity.IsAuthenticated)
    { 
    using (Html.BeginForm())
    {

        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", style = "width:400px", placeholder = "What's your topic? Be specific" })

        <p style="white-space: pre-line">
            @Html.Label("Description")
            @Html.TextAreaFor(model => model.Content, new { id = "post-content", style = "max-width:100%; height:140px; cursor:default", @class = "form-control" })
        </p>
        <p>
            <button type="submit" class="btn btn-primary btn-lg">Post Your Question</button>
        </p>
    }
    }
</div>
    