﻿@{
    ViewBag.Title = "Showthread";
}

@model NorriqForum.Models.Post
<div ng-controller="forumController">
    <div>
        @using (Html.BeginForm())
        {
            <p style="white-space: pre-line;">
                @Html.TextAreaFor(m => m.Title, new { id = "post-title", @readonly = true, style = "max-width:100%; width: 100%; cursor:default; resize:none; border:none; background-color:inherit" })
            </p>
                @Html.TextAreaFor(m => m.Content, new { id = "post-content", style = "max-width:100%; height:140px; cursor:default", @class = "form-control", @readonly = true })


                if (User.Identity.Name == @Model.Owner.Username)
                {
                    <input type="button" id="btnEdit" value="Edit post" onmouseup="editPost()" class="btn-lg btn-primary" style="font-size:12px; float: right" />

                }
        }
    </div>
    <div style="margin-top:50px">

        <table class="table table-striped">
            <tr ng-repeat="ans in answers" ng-class="{approvedAnswer : ans.Approved}">
                <td>
                    <div style="float:left; width:100%">
                        <textarea ng-model="ans.Content" name="{{ans.User.Username}}" style="max-width:100%; width: 100%; resize:none; border:none; background-color:inherit" readonly></textarea>
                        <span style="font-size:12px">by {{ans.User.Username}} {{ans.Created | date:'dd-MM-yyyy HH:mm' }}</span>
                        <div ng-hide="ans.User.Username != user.Username">
                            <a style="font-size:12px">Edit</a>
                        </div>
                    </div>
                    @if (User.Identity.Name == @Model.Owner.Username)
                    {
                        <button ng-click="MarkAsApproved(ans)" style="float:right" ng-if="!ans.Approved">Approve</button>
                        <button ng-click="MarkAsApproved(ans)" style="float:right" ng-if="ans.Approved">Unapprove</button>
                    }
                </td>
            </tr>
        </table>
        @if (User.Identity.IsAuthenticated)
        {
            <textarea class="form-control" style="max-width:100%; height:100px" ng-model="answerContent"></textarea>
            <button ng-click="PostAnswer(@Model.PostId)">Post Answer</button>
        }
    </div>
</div>
<script>

    function editPost() {

        var button = document.getElementById('btnEdit');

        document.getElementById('post-content').readOnly = false;
        document.getElementById('post-title').readOnly = false;
        document.getElementById('post-title').style.border = "1px solid #cccccc";

        document.getElementById('btnEdit').value = "Update post";
        document.getElementById('btnEdit').onclick = updatePost();
    }

    function updatePost()
    {

        document.getElementById('btnEdit').type = "submit";
    }
</script>